fastapi==0.103.*
uvicorn[standard]==0.23.*
python-dotenv==1.0.*
pyright==1.1.*
requests==2.31.*
types-requests==2.31.*
sqlalchemy==2.0.*
psycopg2-binary==2.9.*
alembic==1.12.*
PyMuPDF==1.23.*
Pillow==10.1.*
fake-useragent==1.4.*
bcrypt==4.1.*
PyJWT==2.8.*
python-multipart==0.0.*
email-validator==2.1.*
pyotp==2.9.*
Faker==28.4.*
resend==2.4.*
boto3==1.35.*